PORT="your_port_here"
DB_USER="username"
DB_PASSWORD="password"
DB_SERVER= localhost || "server name"
DB_NAME="db_name"
DATABASE_URL=postgresql://username:password@host/dbname?sslmode=require #postgress(neon)

MAIL_USER="your_mail_here"
MAIL_PASSWORD="your_mail_app_password_here"

ADMIN_ID="your_admin_userId_here"
ADMIN_PASSWORD="your_admin_password_here"

GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama3-8b-8192

JWT_SECRET="your_secret_key"
# OLLAMA_URL=http://localhost:11434
# GEN_MODEL = tinyllama || "model_name_using_and_install_in_system"